/* hide horizontal overflow */
html, body { overflow-x: hidden; }

/* make the logo image responsive */
#logo-image { height: 1.8rem; }

/* make the progress bar sit on top of other content, set its margin and padding to 0 */
.progress-bar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

.alert {
    position: fixed;
    right: 0;
}

/* remove the default style of ul elements, make them block level elements */
.ul {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-justify-end {
    display: flex;
    justify-content: flex-end;
}

.cursor-pointer { cursor: pointer; }

/* remove default style of a elements */
a { text-decoration: none; }

/* restrain image size in content retreived directly from the server and inserted to the DOM via v-html */
.markdown-text img,
.reply-content img {
    display: block;
    max-width: 100%;
    max-height: 200px;
}

/* make the code snippets in the markdown-text content responsive */
.markdown-text code {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: pre;
}

@media screen and (min-width: 768px) {
    .markdown-text img,
    .reply-content img {
        max-height: 300px;
    }
}